<%= render 'layouts/header' %>

<div class="col-sm-6 offset-sm-3">
<%= render 'layouts/flash_messages' %>
</div>

<h5 class="text-center mb-3">学習成果を記録</h5>

<%= form_with(model: @study_record, local: true) do |f| %>

    <div class="form-group col-sm-6 offset-sm-3">
        <%= f.label :language,  '学習言語' %>
        <%= f.text_field :language, class: 'form-control', placeholder: '(例)Ruby' %>
    </div>
    
    <div class="form-group col-sm-6 offset-sm-3">
        <%= f.label :studytime, '学習時間(分)' %>
        <%= f.text_field :studytime, class: 'form-control' %>
    </div>
    
    <div class="form-group col-sm-6 offset-sm-3">
        <%= f.label :content, 'コメント' %>
        <%= f.text_area :content, class: 'form-control', placeholder: '(300字以内)' %>
    </div>
    
    <div class="col-sm-6 offset-sm-3">
    <%= render 'layouts/error_messages', model: f.object %>
    </div>
    
    <div class="col-sm-6 offset-sm-3 mb-3">
        <%= f.submit '投稿する！', class: 'btn btn-primary btn-block rounded-pill' %>
    </div>
    
    <div class="text-center">
        <u><%= link_to 'ホームへ戻る', root_url %></u>
    </div>

<% end %>