<% studies.each do |study| %>
<div class="mt-4" style="display: flex;">
    <div class="mb-4">
        <img class="mr-3" style="border-radius: 100px;", src="<%= gravatar_url(@user, { size: 60 }) %>" alt="">
        <div class="mr-3 text-center"><%= link_to study.user.name, user_path(study.user) %></div>
    </div>
    <div>
        <div class="mr-3" style='display: inline;'>学習言語：<%= study.language %></div>
        <div class="mr-3" style='display: inline;'>学習時間：<%= study.studytime %>分</div>
        <div style='display: inline;'>投稿日時：<%= study.created_at.to_s(:datetime_jp) %></div>
        <div>コメント</div>
        <div><%=safe_join(study.content.split("\n"),tag(:br))%></div>
    </div>
</div>
<div class="pb-2" style="display: flex; border-bottom: 1px solid #D3D3D3; margin-left: 70px;">
    <div class="mr-auto">
        <%= render 'favorites/like_button', studyrecord: study %>
    </div>
    <% if current_user == study.user %>
        <div style="display: inline;">
            <%= link_to '削除', study, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-secondary btn-sm rounded-pill ml-3" %>
        </div>
    <% end %>
</div>
<% end %>

        
