<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-5">
            <%= render 'layouts/flash_messages' %>
            <img class="rounded", src="<%= gravatar_url(@user, { size: 100 }) %>" alt="">
                <div class="mb-3">
                    <%= @user.name %>
                    <%= render 'relationships/follow_button', user: @user %>
                </div>
                <p>累計学習時間：<%= render 'studytime', user: @user %></p>
                    
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link">最近の勉強記録</a></li>
                <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー</a></li>
                <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link">フォロワー</a></li>
                <li class="nav-item"><a href="<%= goodlists_user_path(@user) %>" class="nav-link">いいね！</a></li>
            </ul>
            <%= render 'user', users: @followings %>
        </div>
        
        <div class="col-sm-4">
            <%= render 'layouts/navbar', user: current_user %>
        </div>
    </div>
</div>