<%= render 'layouts/header' %>
    
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <%= render 'layouts/flash_messages' %>
            <img style="border-radius: 100px;", src="<%= gravatar_url(@user, { size: 100 }) %>" alt="">
                <div class="mb-3">
                    <%= @user.name %>
                    <%= render 'relationships/follow_button', user: @user %>
                </div>
                <p>累計学習時間：<%= render 'studytime', user: @user %></p>
                    
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">最近の勉強記録</a></li>
                <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link">フォロー</a></li>
                <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link">フォロワー</a></li>
                <li class="nav-item"><a href="<%= goodlists_user_path(@user) %>" class="nav-link">いいね！</a></li>
            </ul>
            <% unless @study.empty? %>
                <%= render 'studies', studies: @study %>
                <div class="mt-3">
                <%= paginate @study %>
                </div>
            <% else %>
                <div class="text-center mt-3">まだ勉強記録がありません</div>
            <% end %>
        </div>
        
        <div class="col-sm-4">
            <% if logged_in? %>
            <%= render 'layouts/navbar', user: current_user %>
            <% else %>
            <%= render 'layouts/login' %>
            <% end %>
        </div>
    </div>
</div>
