<% studies.each do |study| %>
<div class="mb-4" style="display: flex;">
    <div>
        <img class="rounded mr-3", src="<%= gravatar_url(study.user, { size: 75 }) %>" alt=""><br>
        <div class="text-center mr-3"><%= study.user.name %></div>
    </div>
    <div style="margin: 0px;">
        <div class="mr-3" style='display: inline;'>学習言語：<%= study.language %></div>
        <div class="mr-3" style='display: inline;'>学習時間：<%= study.studytime %>分</div>
        <div style='display: inline;'>投稿日時：<%= study.created_at %></div><br>
        <div>コメント<br><%= study.content %></div>
    </div>
    
</div>            
<% end %>