<div class="text-center mt-5">
    <img class="rounded mb-1" src="<%= gravatar_url(user, { size: 50 }) %>" alt=""><br>
    <%= link_to current_user.name, user_path(@current_user) %>
</div>

<table class="table">
    <tr><td>累計学習時間：<%= render 'users/studytime', user: current_user %></td></tr>
    <tr><td><a href="/">ホーム</a></td></tr>
    <tr><td><%= link_to 'ユーザ詳細', user_path(user) %></td></tr>
    <tr><td><%= link_to 'フォロー一覧', followings_user_path(user) %></td></tr>
    <tr><td><%= link_to 'フォロワー一覧', followers_user_path(user) %></td></tr>
    <tr><td><%= link_to 'ログアウト', logout_path, method: :delete %></td></tr>
    <tr><td></td></tr>
</table>

<div class="text-center">
    <a href="/study_records/new" class="btn btn-primary btn-block rounded-pill">記録する</a>
</div>